[Desktop Entry]
Version=1.0
Exec=xfce4-appfinder
Icon=edit-find
StartupNotify=true
Terminal=false
Type=Application
Categories=Utility;X-XFCE;
Name=Application Finder
Name[de]=Anwendungsfinder
Comment=Find and launch applications installed on your system
Comment[de]=Im System installierte Anwendungen finden und starten
X-XFCE-Source=file:///usr/share/applications/xfce4-appfinder.desktop
